//Primary color
$clr-primary: #0079db;
$clr-primary-100: rgba($clr-primary, 0.100);
$clr-primary-250: rgba($clr-primary, 0.250);
$clr-primary-500: rgba($clr-primary, 0.500);
$clr-primary-750: rgba($clr-primary, 0.750);