@use './../../../var';

.SideNav{
    width: 100%;
    height: 50px;
    border-radius: 4px;

     &__IconButton{
         float: right;
         justify-content: flex-end !important;
         padding: 0px !important;
         margin-top: 10px !important;
     }

     &__Icon{
         height: 30px !important;
         width: auto !important;
        // color: var.$clr-primary-750;
     }
}